[Unit]
Description=Mount unit for snapd, revision 14978
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/snapd_14978.snap
Where=/snap/snapd/14978
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
